<div id="ms-select-simple" ng-controller="msenderSelect as msSlct">
    <h3><span class="ms-etape valid">&#10102;</span> Je souhaite envoyer un email à&nbsp;:</h3>
    <form name="ms-form"
          ng-submit="msSlct.doNothing()">
        <div ng-repeat="contact in contacts"
             ng-class="{selected: contact.isSelected}"
             class="contact">
            <div class="form-group">
                <label for="{{contact.slug}}" ng-style="msSlct.cssBgImg(contact.imgUrl)"></label>
                <input id="{{contact.slug}}"
                       type="checkbox"
                       ng-model="contact.isSelected"
                       ng-change="msSlct.update()">
            </div>
            <div class="name">
                {{contact.firstname}}<br>{{contact.lastname}}
            </div>
        </div>
    </form>
</div>
