<div ng-controller="msenderSelect as msSlct">
    <form name="ms-form"
              ng-submit="msSlct.doNothing()">
            <span class="ms-etape valid">&#10102;</span>
            <select required
                    ng-model="msSlct.dept"
                    ng-change="msSlct.update()"
                    name="ms-departement" id="ms-departement"
                    class="input-lg">
                   <option selected value="00">Votre département</option>
                   <option ng-repeat="(depti, dept) in depts"
                           value="{{depti}}">{{depti}} - {{dept.nom_circo}}</option>
            </select>
    </form>


    *****************
    A INTEGRER ICI
    *****************
    *****************
            <div class="row ms-preview" ng-class="{disabled: !msCtrl.recipientsValid}">
            <div class="ms-to col-md-4">
                <div>
                    <h4>Vos {{msCtrl.recipients.destLabel}}s ({{msCtrl.recipients.groupName}})</h4>
                    <div ng-repeat="recipient in msCtrl.recipients.items">
                        <div class="photo-recipient" ng-style="msCtrl.cssBgPicture(recipient.imgUrl)">
                            {{recipient.prenom}} {{recipient.nom_de_famille}}
                        </div>
                    </div>
                </div>
            </div>
    *****************
    *****************
</div>
