<div id="ms-select-simple" ng-controller="msenderSelect as msSlct">
    <h3><span class="ms-etape valid">&#10102;</span> Candidats à contacter</h3>
    <form name="ms-form"
          ng-submit="msSlct.doNothing()">
        <div ng-repeat="contact in msSlct.contacts"
             ng-class="{selected: contact.isSelected}"
             class="contact">
            <input id="{{contact.slug}}"
                   type="checkbox"
                   ng-model="contact.isSelected"
                   ng-change="msSlct.update()"
            >
            <label for="{{contact.slug}}" ng-style="msSlct.cssBgImg(contact.imgUrl)">{{contact.firstname}}<br>{{contact.lastname}}
            </label>
        </div>
    </form>
</div>
