.button {
  border: 0;
  background: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 18px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  padding: 10px 15px 11px 15px;
  outline: none;
}
