@import "../constants.scss";

@font-face {
  font-family: 'Gotham Book';
  src: url("https://education.l214.com/Conf/fonts/Gotham-Book/Gotham-Book.eot");
  src: url("https://education.l214.com/Conf/fonts/Gotham-Book/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("https://education.l214.com/Conf/fonts/Gotham-Book/Gotham-Book.woff2") format("woff2"), url("https://education.l214.com/Conf/fonts/Gotham-Book/Gotham-Book.woff") format("woff"), url("https://education.l214.com/Conf/fonts/Gotham-Book/Gotham-Book.ttf") format("truetype"), url("https://education.l214.com/Conf/fonts/Gotham-Book/Gotham-Book.svg#Gotham-Book") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Book';
  src: url("https://education.l214.com/Conf/fonts/Gotham-BookItalic/Gotham-BookItalic.eot");
  src: url("https://education.l214.com/Conf/fonts/Gotham-BookItalic/Gotham-BookItalic.eot?#iefix") format("embedded-opentype"), url("https://education.l214.com/Conf/fonts/Gotham-BookItalic/Gotham-BookItalic.woff2") format("woff2"), url("https://education.l214.com/Conf/fonts/Gotham-BookItalic/Gotham-BookItalic.woff") format("woff"), url("https://education.l214.com/Conf/fonts/Gotham-BookItalic/Gotham-BookItalic.ttf") format("truetype"), url("https://education.l214.com/Conf/fonts/Gotham-BookItalic/Gotham-BookItalic.svg#Gotham-BookItalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

.msender {
  display: flex;
  flex-direction: column;
}

.msender_form {
  flex-grow: 0.8;
  flex-basis: 0;
}

@media screen and (min-width: 768px) {
  .msender {
    flex-direction: row;
  }
}

.message_hint_mobile {
  font-family: $font-gotham;
  font-size: 15px;
  line-height: 19px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  margin: 20px 0 12px 0;
}

@media screen and (min-width: 768px) {
  .message_hint_mobile {
    display: none;
  }
}
