@import "../constants.scss";

.select {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 0;
  font-family: $font-gotham;
  font-size: 20px;
  line-height: 22px;
  font-weight: 200;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 10px;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;

  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIxNHB4IiBoZWlnaHQ9IjIwcHgiIHZpZXdCb3g9IjAgMCAxNCAyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgPGcgc3Ryb2tlPSIjRkZGRkZGIiBzdHJva2Utd2lkdGg9IjIiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj4gICAgICAgIDxwb2x5bGluZSBwb2ludHM9IjEgMTIgNiAxNyAxMSAxMiI+PC9wb2x5bGluZT4gICAgICAgIDxwb2x5bGluZSBwb2ludHM9IjEgNiA2IDEgMTEgNiI+PC9wb2x5bGluZT4gICAgPC9nPjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-position: right center;
  background-position: right 10px center;
  background-position: calc(100% - 10px) center;
  background-size: 14px 20px;

  &:focus {
    border-width: 2px;
    padding: 9px;
  }

  option {
    color: #000;
  }
}
