@import "../constants.scss";

.value_field {
  margin: 0;
  padding: 8px 0;
}

.value_field_multiline {
  composes: value_field;
  flex-grow: 1;
  display: flex;
}

.label_container {
  display: flex;
}

.label_container_multiline {
  composes: label_container;
  flex-direction: column;
  flex-grow: 1;
}

.label {
  flex-grow: 0;
  flex-shrink: 0;
  font-family: $font-system;
  font-size: 15px;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
  color: $color-blue-native;
  margin: 0 2px 0 0;
  padding: 6px 0;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.label_hint {
  color: #9D9D9D;
}

.input {
  flex-grow: 1;
  font-family: $font-system;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  -webkit-font-smoothing: antialiased;
  outline: none;
  border: 0;
  margin: 0;
  padding: 6px 3px;

  &:focus {
    background: #eee;
    border-radius: 3px;
  }
}

.input_multiline {
  composes: input;
  resize: none;
  margin: 0 -5px;
  padding: 5px;
}

.copy_container {
  margin: 0 0 0 5px;
  padding: 5px 0 3px 0;
}
